In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
%matplotlib inline

In [4]:
dt = pd.read_csv("LULA_location.csv",sep=',',encoding='utf-8')
dt.head()

,id,user_screen_name,user_name,user_location,full_text,emot_class,semantic_class,combo_class,classification,new_user_location,created_at
0,983463215303622657,paulo_briani,Paulo Briani,"Curitiba, Brasil",RT @LulapeloBrasil O POVO COM LULA Caravanas ...,NaN,0.0,NaN,1,parana,Apr 09 21
1,978037017475940353,PEC56URGENTE,Jose do Nascimento,Rio de Janeiro,RT @Francischini_ ESPALHOU pelo BRASIL LULA re...,NaN,-1.0,NaN,0,rio de janeiro,Mar 25 22
2,982675696270102530,rodsguido,erguido,Morro do dend√™,RT @luizguiprado Imagina o Bolsonaro agora ass...,NaN,-1.0,NaN,0,NaN,Apr 07 17
3,977344219634319360,Frmarchetaria,Kito #BetaQuerLab,"Brasil, Guarulhos, SP",RT @santoocio Lula Moro e desembagrinhos n√£o t...,NaN,0.0,NaN,0,sao paulo,Mar 24 00
4,981745225256325120,mikapietra,miri√£ com ~,None,Tava aqui passando raiva por aquela Lala Rudge...,NaN,1.0,NaN,0,NaN,Apr 05 04

In [29]:
# dt['Apr 20' in dt.created_at].full_text
aux = []
count = 0
for i in dt.values:
    if ('Apr 20 02' in i[10] or 'Apr 20 01' in i[10] or 'Apr 20 03' in i[10] or 'Apr 20 00' in i[10]) and i[8] == 2:
        if 'H√° 38 anos' in i[4] or 'Gleici' in i[4]:
            count += 1
        aux.append(i)
aux = pd.DataFrame(aux)
aux.columns = dt.columns
print(aux.shape)
print(count)

(6567, 11)
3271

In [20]:
aux.full_text[0]

'RT @LulapeloBrasil H√° 38 anos, Lula era preso pela ditadura por defender a democracia.  #LulaLivre https//t.co/OPdUVR0bJr ::R:: H√° 38 anos, Lula era preso pela ditadura por defender a democracia.  #LulaLivre https//t.co/OPdUVR0bJr'

In [25]:
aux.full_text[11]

'RT @MidiaNINJA Gleici, campe√£ do BBB2018 √© #LulaLivre https//t.co/nAa0ZzXJOX ::R:: Gleici, campe√£ do BBB2018 √© #LulaLivre https//t.co/nAa0ZzXJOX'

--------------------------
### Bolsonaro

In [30]:
db = pd.read_csv("BOLSONARO_location.csv",sep=',',encoding='utf-8')

/home/alysson/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
db.head()

,id,user_screen_name,user_name,user_location,full_text,emot_class,semantic_class,combo_class,classification,new_user_location,created_at
0,982744690826113025,lmjsccp,.,None,f√£s do bolsonaro n√£o me sigam n√£o os quero.,NaN,0.0,NaN,1.0,NaN,Apr 07 22
1,988791718479908865,justpatiend,DeaD Horse üî´,Paradise City,"imagina se algu√©m assina isso, fala uma opini√£...",NaN,1.0,NaN,0.0,para,Apr 24 14
2,982787664171724800,delicwtte,samara‚ú®,None,RT @svillentnight COMO ASSIM A TULLA LUANA VOT...,NaN,0.0,NaN,0.0,NaN,Apr 08 01
3,988215976863981568,darbyblachechen,darby blachechen,None,RT @domlancellotti #Agora√âComDatena Segue imag...,NaN,-1.0,NaN,0.0,NaN,Apr 23 00
4,982680584047742977,FernandoBrusto,Fernando Brustolin Nieri Vieira,"Jardim Gutierres, Sorocaba",RT @OConservadores @joanatreptow Depois o Bols...,NaN,-1.0,NaN,1.0,NaN,Apr 07 18

In [43]:
db.columns[10]

'created_at'

In [51]:
aux = []
count = 0
for i in db.values:
    try:
        if ('Apr 22 22' in i[10] or 'Apr 22 21' in i[10] or 'Apr 22 23' in i[10] or 'Apr 22 21' in i[10]) and i[8] == 2:
            if 'rob√¥s' in i[4] or 'robo' in i[4] or 'robos' in i[4] or 'rob√¥s' in i[4] or 'Rob√¥' in i[4] or 'VEJA' in i[4] or 'ROB√îS' in i[4] or 'ROB√î' in i[4]:
                count += 1
            aux.append(i)
    except Exception:
        pass
aux = pd.DataFrame(aux)
aux.columns = dt.columns
print(aux.shape)
print(count)

(307, 11)
139

In [52]:
aux.full_text[14]

'Al√¥, @veja ! Eu sou rob√¥!  #SomosTodosBolsonaro https//t.co/bhqWPXxFwb'